@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.section,
.section__head,
.section__body {
	display: flex;
	flex-direction: column;
}

.section {
	gap: func.em(52, var.$font-size-primary);
}

.section__head {
	padding: 0 func.em(20, var.$font-size-primary);
}
