@use '../abstracts/functions' as func;

header,
header h1 {
	display: flex;
	flex-direction: column;
}

header {
	align-items: center;
}

#logo {
	display: inline-flex;
	width: func.em(43);
	height: func.em(13);
	background: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
}
