@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

header,
header h1 {
	display: flex;
	flex-direction: column;
}

header {
	align-items: center;
}

header h1 {
	font-size: inherit;
}

#logo {
	display: inline-flex;
	width: func.em(60, var.$font-size-primary);
	height: func.em(18, var.$font-size-primary);
	background: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
}
